<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="instructions">
    	Welcome to the Fictional Landscape of Togetherness<br/><br/>
    	<a href="scene_1" style="color:white">[ENTER]</a>
    </div>
  </body>
</html>
