<!DOCTYPE html>
<html>
  <head>
    <title>Fictional Landscape</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="../libs/js/build/jquery-3.5.1.min.js"></script>

    <script src="../libs/js/build/three.min.js"></script>
    <script src="../libs/js/example-js/loaders/OBJLoader.js"></script>
    <script src="../libs/js/example-js/loaders/MTLLoader.js"></script>
    <script src="../libs/js/example-js/loaders/PLYLoader.js"></script>
    <script src="../libs/js/example-js/controls/OrbitControls.js"></script>
    <script src="../libs/js/example-js/controls/PointerLockControls.js"></script>

    <script src="../libs/js/example-js/lines/LineSegmentsGeometry.js"></script>
    <script src="../libs/js/example-js/lines/LineSegments2.js"></script>
    <script src="../libs/js/example-js/lines/Line2.js"></script>
    <script src="../libs/js/example-js/lines/LineGeometry.js"></script>
    <script src="../libs/js/example-js/lines/LineMaterial.js"></script>
  </head>
  <body>
<!--     <div class="scene-description">Scene 1</div> -->
    <div class="instructions">
      Relativity of time and space in the physical world is described by Lorentz Transformation formula, and it's visual representation is a coordinate system of the transformation layed out in two-dimensional space.<br/><br/> 
      Can we reflect this sort of visualizations of film timeline through nonlinear coordinate systems? This novel approach would allow the editor to observe the spacial and temporal relations within the story and yield a number of variations of the edit based on the time diegesis of story elements.<br/><br/>
      <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>
  </body>
</html>

<script src="../javascripts/scene.js"></script>
<script>
  var db_paths = '<%- JSON.stringify(db_paths) %>';
  var db_paths = JSON.parse(db_paths);
  //console.log("db_paths", db_paths);

  window.explodable = true;
  window.walk = true;
  window.isFinishedLoading = false;
  window.sceneIndex=6;

  var scene, camera, renderer;
  var listener;
  var controls;

  var location_data=[];

  var camera_height = 10;
  var collision_margin = 10;
  var init_height = 400;
  var gameover_height = -500;
  var acceleration = 0.1;
  var moving_speed = 1;
  var rotating_speed = 10*Math.PI/180;
  var velocity = 0;
  var orbit;

  init();
  animate();
  record();
  //loadTrace();

  var dirpath = "/assets/models/collage 6_Pohao_TaiwanSceneMix2/"
  var objpath = "demo1.obj";
  var mtlpath = "demo1.mtl";
  load_model(dirpath, objpath, mtlpath);

  var play_on_load_file = "/assets/audio/scene6/background.mp3";

  var skybox_file = "/assets/models/collage 6_Pohao_TaiwanSceneMix2/skybox.jpg";

</script>