<!DOCTYPE html>
<html>
  <head>
    <title>Fictional Landscape</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="../libs/js/build/jquery-3.5.1.min.js"></script>

    <script src="../libs/js/build/three.min.js"></script>
    <script src="../libs/js/example-js/loaders/OBJLoader.js"></script>
    <script src="../libs/js/example-js/loaders/MTLLoader.js"></script>
    <script src="../libs/js/example-js/loaders/PLYLoader.js"></script>
    <script src="../libs/js/example-js/controls/OrbitControls.js"></script>
    <script src="../libs/js/example-js/controls/PointerLockControls.js"></script>

    <script src="../libs/js/example-js/lines/LineSegmentsGeometry.js"></script>
    <script src="../libs/js/example-js/lines/LineSegments2.js"></script>
    <script src="../libs/js/example-js/lines/Line2.js"></script>
    <script src="../libs/js/example-js/lines/LineGeometry.js"></script>
    <script src="../libs/js/example-js/lines/LineMaterial.js"></script>
  </head>
  <body>
<!--     <div class="scene-description">Scene 1</div> -->
    <div class="instructions">
      EXT. DAWN, FREEDOM<br/><br/>
 
      Endless white paravanes and a line cutting through them
      towards the camera. Giraffe’s long neck glides elegantly through.<br/><br/>
       
      It’s the golden hour, dawn, sunshine on her face, we move down
      her neck while wraps, thorn, slide down her body. The family holds on her back, gripping tight to her neck and each other, eyes shut.<br/><br/>
       
      The sunrise above the sea of paravanes, behind each layer a
      flag of a different country, Giraffe cuts through it, away.
      Sunrise matching the opening.<br/><br/>
       
                               THE END
                               <br/><br/>
      <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>
  </body>
</html>

<script src="../javascripts/scene.js"></script>
<script>
  var db_paths = '<%- JSON.stringify(db_paths) %>';
  var db_paths = JSON.parse(db_paths);
  //console.log("db_paths", db_paths);

  window.explodable = true;
  window.crawl = true;
  window.isFinishedLoading = false;
  window.sceneIndex=2;

  var scene, camera, renderer;
  var controls;

  var camera_height = 3;
  var collision_margin = 10;
  var init_height = 200;
  var gameover_height = -300;
  var acceleration = 0.1;
  var moving_speed = 1;
  var rotating_speed = 10*Math.PI/180;
  var velocity = 0;
  var orbit;

  init();
  animate();
  record();

  var dirpath = "/assets/models/collage_2_Aarti/"
  var objpath = "butterfly_train_tracks_reduce.obj";
  var mtlpath = "butterfly_train_tracks_reduce.mtl"
  load_model(dirpath, objpath, mtlpath);

</script>